.trend-icon {
	background-image: url('../data/images/icons/chart_curve.png') !important;
}

.home-icon {
	background-image: url('../data/images/icons/application_home.png') !important;
}

.phone-icon {
	background-image: url('../data/images/icons/telephone.png') !important;
}

.email-icon {
	background-image: url('../data/images/icons/email.png') !important;
}

.logout-icon {
	background-image: url('../data/images/icons/stop.png') !important;
}

.detail-icon {
	background-image: url('../data/images/icons/application_view_detail.png') !important;
}

.list-icon {
	background-image: url('../data/images/icons/application_view_list.png') !important;
}

.add-icon {
	background-image: url('../data/images/icons/add.png') !important;
}

.silk-edit {
	background-image: url('../data/images/icons/application_edit.png') !important;
}

.rightarrow-icon {
	background-image: url('../data/images/icons/arrow_right.png') !important;
}

.dbsave-icon {
	background-image: url('../data/images/icons/database_save.png') !important;
}

.silk-delete {
	background-image: url('../data/images/icons/delete.png') !important;
}

.silk-add {
	background-image: url('../data/images/icons/add.png') !important;
}

.silk-save {
	background-image: url('../data/images/icons/table_save.png') !important;
}
.silk-undo {
	background-image: url('../data/images/icons/arrow_undo.png') !important;
}
.chart-bar {
	background-image: url('../data/images/icons/chart_bar.png') !important;
}
.icon-user {
	background-image: url('../data/images/icons/user.png') !important;
}
.page-red {
	background-image: url('../data/images/icons/page_red.png') !important;
}

.Waste {
	background-image: url('../data/images/icons/page_red.png') !important;
}
.Variance {
	background-image: url('../data/images/icons/page_red.png') !important;
}
